XML-and-Schematron/AmadisODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     version="2.9.1"
     xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>Amadis ODD</title>
	<author>Elisa Beshero-Bondar</author>
	<respStmt>
	  <name>Syd Bauman</name>
	  <resp>TEI &amp; ODD help</resp>
	</respStmt>
      </titleStmt>
      <publicationStmt>
	<publisher>FIXME</publisher>
	<availability>
	  <licence>
	    <ref target="http://creativecommons.org/licenses/by-sa/4.0/">
	      <title level="m">Creative Commons</title>
	      <title level="a">
		<choice>
		  <expan>Attribution-ShareAlike 4.0 International</expan>
		  <abbr>CC BY-SA 4.0</abbr>
		</choice>
	      </title>
	    </ref>
	  </licence>
	</availability>
      </publicationStmt>
      <sourceDesc>
	<p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI for Amadis</head>
      <schemaSpec ident="Amadis"
		  start="TEI teiCorpus"
		  prefix="amadis."
		  docLang="en">
	<moduleRef key="tei"/> <!-- required -->
	<moduleRef key="core"/> <!-- required -->
	<moduleRef key="analysis"/>
	<moduleRef key="certainty"/>
	<moduleRef key="figures"/>
	<moduleRef key="header"/> <!-- required -->
	<moduleRef key="iso-fs"/>
	<moduleRef key="linking"/>
	<moduleRef key="msdescription"/>
	<moduleRef key="namesdates"/>
	<moduleRef key="spoken"/>
	<moduleRef key="textcrit"/>
	<moduleRef key="textstructure"
		   except="div1 div2 div3 div4 div5 div6 div7"/> <!-- required -->
	<moduleRef key="transcr"/>
	<moduleRef key="verse"/>

	<elementSpec ident="said" module="core" mode="change">
	  <classes mode="replace">
	    <memberOf key="model.milestoneLike" mode="add"/>
	    <memberOf key="att.global"/>
	    <memberOf key="att.ascribed" mode="delete"/>
	    <memberOf key="model.qLike" mode="delete"/>
	  </classes>
	  <attList>
	    <attDef ident="change" mode="delete"/>
	    <attDef ident="copyOf" mode="delete"/>
	    <attDef ident="corresp" mode="delete"/>
	    <attDef ident="exclude" mode="delete"/>
	    <attDef ident="facs" mode="delete"/>
	    <attDef ident="n" mode="delete"/>
	    <attDef ident="next" mode="delete"/>
	    <attDef ident="prev" mode="delete"/>
	    <attDef ident="rendition" mode="delete"/>
	    <attDef ident="sameAs" mode="delete"/>
	    <attDef ident="select" mode="delete"/>
	    <attDef ident="style" mode="delete"/>
	    <attDef ident="xml:base" mode="delete"/>
	    <attDef ident="xml:space" mode="delete"/>
	    <attDef ident="ana" mode="change" usage="req">
	      <valList type="closed" mode="replace">
		<valItem ident="start"/>
		<valItem ident="end"/>
		<valItem ident="intStart"/>
		<valItem ident="intEnd"/>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>

	<elementSpec ident="anchor" module="linking" mode="change">
	  <constraintSpec scheme="isoschematron" ident="refer-to-Montalvo">
	    <constraint>
	      <sch:rule context="tei:anchor[@ana eq 'start'][not(@type eq 'add')]">
		<sch:report test="not(@corresp)">An @corresp must be present on this anchor to point to a corresponding unit in Montalvo!</sch:report>
	      </sch:rule>
	    </constraint>
	  </constraintSpec>	    
	  <attList>
	    <attDef ident="ana" mode="change" usage="req">
	      <valList type="closed" mode="replace">
		<valItem ident="start"/>
		<valItem ident="end"/>
		<valItem ident="intStart"/>
		<valItem ident="intEnd"/>
	      </valList>
	    </attDef>
	    <attDef ident="cert" mode="change">
	      <datatype minOccurs="1" maxOccurs="unbounded">
		<rng:ref name="data.certainty"/>
	      </datatype>
	    </attDef>
	    <attDef ident="type" mode="change">
	      <valList type="closed" mode="replace">
		<valItem ident="add">
		  <gloss>addition</gloss>
		  <desc>This attribute value appears to mark the start of an addition by Southey [ebb: I think I've FIXED this, but I'm leaving the FIXME square brackets while I test stuff. FIXME, as Syd does
		  not understand how in the heck an element with no content
		  can be an addition.]</desc>
		</valItem>
		<valItem ident="report">
		  <desc>FIXME</desc>
		</valItem>
		<valItem ident="direct">
		  <desc>FIXME</desc>
		</valItem>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>

	<elementSpec ident="note" module="core" mode="change">
	  <attList>
	    <attDef ident="resp" mode="change" usage="req"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="div" module="textstructure" mode="change">
	  <attList>
	    <attDef ident="xml:id" mode="change" usage="req">
	      <datatype minOccurs="1" maxOccurs="unbounded">
		<rng:text/>
	      </datatype>
	    </attDef>
	  </attList>
	</elementSpec>

	<elementSpec ident="cl" module="analysis" mode="change">
	  <attList>
	    <attDef ident="datcat" mode="delete"/>
	    <attDef ident="facs" mode="delete"/>
	    <attDef ident="part" mode="delete"/>
	    <attDef ident="real" mode="delete"/>
	    <attDef ident="rendition" mode="delete"/>
	    <attDef ident="rhyme" mode="delete"/>
	    <attDef ident="sameAs" mode="delete"/>
	    <attDef ident="style" mode="delete"/>
	    <attDef ident="synch" mode="delete"/>
	    <attDef ident="valueDatcat" mode="delete"/>
	    <attDef ident="xml:base" mode="delete"/>
	    <attDef ident="xml:space" mode="delete"/>
	    <attDef ident="xml:id" mode="change" usage="req">
	      <datatype minOccurs="1" maxOccurs="unbounded">
		<rng:text/>
	      </datatype>
	    </attDef>
	  </attList>
	</elementSpec>

	<elementSpec ident="persName" module="namesdates" mode="change">
	  <attList>
	    <attDef ident="ana" mode="delete"/>
	    <attDef ident="atLeast" mode="delete"/>
	    <attDef ident="atMost" mode="delete"/>
	    <attDef ident="calendar" mode="delete"/>
	    <attDef ident="confidence" mode="delete"/>
	    <attDef ident="copyOf" mode="delete"/>
	    <attDef ident="corresp" mode="delete"/>
	    <attDef ident="datingMethod" mode="delete"/>
	    <attDef ident="datingPoint" mode="delete"/>
	    <attDef ident="evidence" mode="delete"/>
	    <attDef ident="exclude" mode="delete"/>
	    <attDef ident="extent" mode="delete"/>
	    <attDef ident="facs" mode="delete"/>
	    <attDef ident="from" mode="delete"/>
	    <attDef ident="from-custom" mode="delete"/>
	    <attDef ident="from-iso" mode="delete"/>
	    <attDef ident="full" mode="delete"/>
	    <attDef ident="instant" mode="delete"/>
	    <attDef ident="key" mode="delete"/>
	    <attDef ident="max" mode="delete"/>
	    <attDef ident="min" mode="delete"/>
	    <attDef ident="n" mode="delete"/>
	    <attDef ident="next" mode="delete"/>
	    <attDef ident="notAfter" mode="delete"/>
	    <attDef ident="notAfter-custom" mode="delete"/>
	    <attDef ident="notAfter-iso" mode="delete"/>
	    <attDef ident="notBefore" mode="delete"/>
	    <attDef ident="notBefore-custom" mode="delete"/>
	    <attDef ident="notBefore-iso" mode="delete"/>
	    <attDef ident="nymRef" mode="delete"/>
	    <attDef ident="period" mode="delete"/>
	    <attDef ident="precision" mode="delete"/>
	    <attDef ident="prev" mode="delete"/>
	    <attDef ident="quantity" mode="delete"/>
	    <attDef ident="rendition" mode="delete"/>
	    <attDef ident="resp" mode="delete"/>
	    <attDef ident="sameAs" mode="delete"/>
	    <attDef ident="scope" mode="delete"/>
	    <attDef ident="select" mode="delete"/>
	    <attDef ident="sort" mode="delete"/>
	    <attDef ident="source" mode="delete"/>
	    <attDef ident="style" mode="delete"/>
	    <attDef ident="subtype" mode="delete"/>
	    <attDef ident="synch" mode="delete"/>
	    <attDef ident="to" mode="delete"/>
	    <attDef ident="to-custom" mode="delete"/>
	    <attDef ident="to-iso" mode="delete"/>
	    <attDef ident="unit" mode="delete"/>
	    <attDef ident="when" mode="delete"/>
	    <attDef ident="when-custom" mode="delete"/>
	    <attDef ident="when-iso" mode="delete"/>
	    <attDef ident="xml:base" mode="delete"/>
	    <attDef ident="xml:id" mode="delete"/>
	    <attDef ident="xml:space" mode="delete"/>
	  </attList>
	</elementSpec>

	<elementSpec ident="placeName" module="namesdates" mode="change">
	  <attList>
	    <attDef ident="ana" mode="delete"/>
	    <attDef ident="atLeast" mode="delete"/>
	    <attDef ident="atMost" mode="delete"/>
	    <attDef ident="calendar" mode="delete"/>
	    <attDef ident="change" mode="delete"/>
	    <attDef ident="confidence" mode="delete"/>
	    <attDef ident="copyOf" mode="delete"/>
	    <attDef ident="corresp" mode="delete"/>
	    <attDef ident="datingMethod" mode="delete"/>
	    <attDef ident="datingPoint" mode="delete"/>
	    <attDef ident="evidence" mode="delete"/>
	    <attDef ident="exclude" mode="delete"/>
	    <attDef ident="extent" mode="delete"/>
	    <attDef ident="facs" mode="delete"/>
	    <attDef ident="from" mode="delete"/>
	    <attDef ident="from-custom" mode="delete"/>
	    <attDef ident="from-iso" mode="delete"/>
	    <attDef ident="full" mode="delete"/>
	    <attDef ident="instant" mode="delete"/>
	    <attDef ident="key" mode="delete"/>
	    <attDef ident="max" mode="delete"/>
	    <attDef ident="min" mode="delete"/>
	    <attDef ident="n" mode="delete"/>
	    <attDef ident="next" mode="delete"/>
	    <attDef ident="notAfter" mode="delete"/>
	    <attDef ident="notAfter-custom" mode="delete"/>
	    <attDef ident="notAfter-iso" mode="delete"/>
	    <attDef ident="notBefore" mode="delete"/>
	    <attDef ident="notBefore-custom" mode="delete"/>
	    <attDef ident="notBefore-iso" mode="delete"/>
	    <attDef ident="nymRef" mode="delete"/>
	    <attDef ident="precision" mode="delete"/>
	    <attDef ident="prev" mode="delete"/>
	    <attDef ident="quantity" mode="delete"/>
	    <attDef ident="ref" mode="delete"/>
	    <attDef ident="rendition" mode="delete"/>
	    <attDef ident="resp" mode="delete"/>
	    <attDef ident="sameAs" mode="delete"/>
	    <attDef ident="scope" mode="delete"/>
	    <attDef ident="select" mode="delete"/>
	    <attDef ident="sort" mode="delete"/>
	    <attDef ident="source" mode="delete"/>
	    <attDef ident="style" mode="delete"/>
	    <attDef ident="subtype" mode="delete"/>
	    <attDef ident="to" mode="delete"/>
	    <attDef ident="to-custom" mode="delete"/>
	    <attDef ident="to-iso" mode="delete"/>
	    <attDef ident="unit" mode="delete"/>
	    <attDef ident="when-custom" mode="delete"/>
	    <attDef ident="when-iso" mode="delete"/>
	    <attDef ident="xml:base" mode="delete"/>
	    <attDef ident="xml:id" mode="delete"/>
	    <attDef ident="xml:space" mode="delete"/>
	  </attList>
	</elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
